<main class="container my-squads-main">
  <app-default-header [title]="'Novo Squad'" [showBackButton]="true"></app-default-header>

  <form
    [formGroup]="createSquadForm"
    novalidate
    (submit)="onSubmitForm($event)"
  >
    <mat-form-field appearance="outline" class="inputs-full-width">
      <mat-label>Nome</mat-label>
      <input matInput required formControlName="name" />
      <mat-error *ngIf="createSquadForm.checkTouchedOrDirty('name')">
        <span *ngIf="createSquadForm.containError('name', 'required')">
          {{
            createSquadForm.getMessageError(
              validationMessages,
              'name',
              'required'
            )
          }}
        </span>
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle
      class="mat-slide-toggle-success"
      color="primary"
      [labelPosition]="'before'"
      formControlName="allowSkillLevel"
    >
      Usar nível de habilidade?
    </mat-slide-toggle>

    <app-create-squad-config [squadsConfig]="squadConfigsCreated">
    </app-create-squad-config>

    <div class="my-3 w-100">
      <button mat-raised-button class="btn-save-new-squad" color="success">
        <div class="flex-between">
          CONCLUIR
          <i class="fas fa-save"></i>
        </div>
      </button>
    </div>
  </form>
</main>
