<main class="home-main">

  <section class="home-image">
    <img src="/assets/images/home_image.svg" alt="Home logo">
  </section>

  <section class="home-login">
    <h1>Meu Raxa</h1>
    <div class="home-login-description">
      Monte sua lista de jogadores online e compartilhe com seus amigos de forma fácil e rápida.
      Crie times equilibrados ou de forma aleatória com apenas alguns cliques.
    </div>
    <div class="home-login-button">

      <h3>Entre com sua conta do google</h3>

      <asl-google-signin-button
        type='standard'
        size='large'
        logo_alignment="left"
        shape="rectangular"
        theme="filled_black"
      ></asl-google-signin-button>
    </div>
  </section>
</main>
